#chartdiv, #ram-lines, #cpu-gauge {
	height		: 300px;
	font-size	: 11px;
}
@media #{$medium-up} {
	#chartdiv, #ram-lines, #cpu-gauge {
		height		: 500px;
		font-size	: 11px;
	}
}

.amcharts-export-menu-top-right {
  top: 10px;
  right: 0;
}
