<table class="large-12 small-12 columns">
  <tr>
    <th>PID</th>
    <th>CPU</th>
    <th>exe</th>
    <th>cmdline</th>
  </tr>
  {{#each dataProvider as |process|}}
  <tr>
    <td>{{process.id}}</td>
    <td>{{process.cpu_percent}}</td>
    <td>{{process.exe}}</td>
    <td>{{process.cmdline}}</td>
  </tr>
  {{/each}}
</table>
